{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block page_title %}CRC Self Service Portal{% endblock %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css"/>
  <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'theme/css/bootstrap-theme.css' %}">
</head>

<body>
<header>
  {% include 'common/components/topbar.html' %}
  {% include 'common/components/sidebar.html' %}
</header>

<main>
  <div class="mx-auto ms-lg-80">

    {% block header %}
    <section class="m-10">
      <div class="container">
        <div class="d-flex align-items-center">
          <span class="d-inline-block pt-7 px-5 me-4 justify-content-center align-items-center text-white bg-primary rounded" style="width: 56px;height: 56px">
            <i class="fas fa-xl fa-play"></i>
          </span>
          <div>
            <h4>{% block header_title %}{% endblock %}</h4>
            <p class="mb-0 small text-secondary">{% block header_description %}{% endblock %}</p>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}

    {% block main_content %}{% endblock %}
  </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>
<script src="{% static 'vendored/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'theme/js/main.js' %}"></script>
{% block javascript %}{% endblock %}

</body>
</html>
