{% load static %}

<html lang="en">
<head>
  <title>Page title</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block page_title %}CRC Self Service Portal{% endblock %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.2/css/all.css"/>
  <link rel="stylesheet" href="{% static 'theme/css/bootstrap-theme.css' %}">
</head>

<body>
<header>
  {% include 'common/components/topbar.html' %}
  {% include 'common/components/sidebar.html' %}
</header>

<main>
  <div class="mx-auto ms-lg-80">
    {% block main_content %}{% endblock %}
  </div>
</main>

<script src="{% static 'vendored/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'theme/js/main.js' %}"></script>
{% block extra_js %}{% endblock %}

</body>
</html>
