{% load static %}

<nav class="navbar d-lg-none navbar-light bg-white flex-wrap">
  <div class="container-fluid">
    <div class="d-flex w-100 align-items-center">
      <a class="navbar-brand" href="#">
        <img style="max-width: 120px" src="{% static 'theme/img/logo/Pitt_Secondary_Royal.png' %}" alt="" >
      </a>
      <button class="navbar-burger navbar-toggler bg-primary-light ms-auto" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</nav>
