{% load static %}

<nav class="position-relative navbar-menu d-none d-lg-block" style="z-index: 9999;">
  <div class="navbar-backdrop d-lg-none position-fixed top-0 end-0 bottom-0 start-0 bg-dark" style="opacity: .5"></div>
  <div class="position-fixed top-0 start-0 bottom-0 w-75 mw-sm-xs pt-6 bg-white overflow-auto">
    <div class="px-6 pb-6 position-relative border-bottom border-secondary-light">
      <div class="d-inline-flex align-items-center">
        <a href="#">
          <img class="img-fluid" src="{% static 'theme/img/logo/Pitt_Secondary_Royal.png' %}" alt="" width="auto">
        </a>
      </div>
    </div>
    <div class="py-6 px-6">
      <div>
        <ul class="nav flex-column mb-8">
          <li class="nav-item nav-pills">
            <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
              <span class="d-inline-block text-secondary me-3">
                <i class="fa-solid fa-chart-pie"></i>
              </span>
              <span class="small text-secondary me-auto">Dashboard</span>
            </a>
          </li>
        </ul>
        <h3 class="mb-2 text-secondary text-uppercase small">MY ALLOCATIONS</h3>
        <ul class="nav flex-column mb-8">
          <li class="nav-item nav-pills">
            <a class="nav-link bg-primary text-white p-3 d-flex align-items-center" href="#">
              <span class="d-inline-block me-3">
                <i class="fa-solid fa-play"></i>
              </span>
              <span class="small me-auto">SU Allocation</span>
            </a>
          </li>
          <li class="nav-item nav-pills">
            <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
              <span class="d-inline-block text-secondary me-3">
                <i class="fa-regular fa-file-lines"></i>
              </span>
              <span class="small text-secondary me-auto">Proposals</span>
            </a>
          </li>
        </ul>
        <h3 class="mb-2 text-secondary text-uppercase small">RESEARCH PRODUCTS</h3>
        <ul class="nav flex-column mb-8">
          <li class="nav-item nav-pills">
            <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
              <span class="d-inline-block text-secondary me-3">
                <i class="fa-solid fa-feather-pointed"></i>
              </span>
              <span class="small text-secondary me-auto">Publications</span>
              <span class="d-inline-block text-secondary"></span>
            </a>
          </li>
          <li class="nav-item nav-pills">
            <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
              <span class="d-inline-block text-secondary me-3">
                <i class="fa-solid fa-dollar"></i>
              </span>
              <span class="small text-secondary me-auto">Grants</span>
              <span class="d-inline-block text-secondary"></span>
            </a>
          </li>
        </ul>
        <h3 class="mb-2 text-secondary text-uppercase small">TEAM MANAGEMENT</h3>
        <ul class="nav flex-column mb-12">
          <li class="nav-item nav-pills">
            <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
              <span class="d-inline-block text-secondary me-3">
                <i class="fa-solid fa-user-plus"></i>
              </span>
              <span class="small">Team Members</span>
            </a>
          </li>
          <li class="nav-item nav-pills">
            <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
              <span class="d-inline-block text-secondary me-3">
                <i class="fa-solid fa-database"></i>
              </span>
              <span class="small">My Data</span>
            </a>
          </li>
        </ul>
        <ul class="nav flex-column mb-auto">
          <li class="nav-item nav-pills">
            <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
              <span class="d-inline-block text-secondary me-4">
                <i class="fa-regular fa-circle-question"></i>
              </span>
              <span class="small">Help</span>
            </a>
          </li>
          <li class="nav-item nav-pills">
            <a class="nav-link text-secondary p-3 d-flex align-items-center" href="#">
              <span class="d-inline-block text-secondary me-4">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
              </span>
              <span class="small">Log Out</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
