<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
  <div class="position-sticky">
    <div class="list-group list-group-flush mx-3 mt-4">
      <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
        <i class="fas fa-chart-area fa-fw me-3"></i><span>System status</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple active">
        <i class="fas fa-star fa-fw me-3"></i><span>My Allocations</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
          class="fas fa-file-lines fa-fw me-3"></i><span>Proposals</span>
      </a>
    </div>
  </div>
</nav>