{% extends 'common/base.html' %}
{% load static %}

{% block page_title %}SU Allocation{% endblock %}
{% block header_title %}Service Unit Allocations{% endblock %}
{% block header_description %}Total service units allocated to your team across all clusters.{% endblock %}

{% block main_content %}

<section class="m-10">
  <div class="container">
    <div class="p-6 bg-white rounded shadow">
      <h4 class="mb-6">Total Allocation Usage</h4>
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <span id="usedServiceUnits" class="h2"></span>
          <span id="totalServiceUnits" class="h5 text-muted"></span>
        </div>
        <span id="percentUsageBadge" class="badge"></span>
      </div>
      <div class="mt-2 progress bg-light-light rounded">
        <div id="usageProgressBar" class="progress-bar rounded"></div>
      </div>
      <p class="mt-3 mb-0 text-secondary small">Total allocation usage is calculated for all active allocations.</p>
    </div>
  </div>
</section>

<section class="m-10">
  <div class="container">
    <div class="bg-white rounded shadow">
      <div class="px-6 pt-6 border-bottom border-secondary-light">
        <div class="d-flex align-items-center justify-content-between">
          <h4>Cluster Allocations</h4>
          <button class="btn btn-sm btn-primary align-items-center" href="#">
            <i class="fas fa-upload text-primary-light"></i>
            <span class="ms-2">Export</span>
          </button>
        </div>
        <p class="text-secondary w-75">Allocations are awarded on a per-cluster basis. Additional compute resources can be requested by submitting a new <a href="#">allocation proposal</a>.</p>
        <ul class="nav nav-tabs mt-8" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="active-allocations-tab" data-bs-toggle="tab" data-bs-target="#activeTab" type="button" role="tab" aria-controls="activeTab" aria-selected="true">Active</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="expired-allocations-tab" data-bs-toggle="tab" data-bs-target="#expiredTab" type="button" role="tab" aria-controls="expiredTab" aria-selected="false">Expired</button>
          </li>
        </ul>
      </div>
      <div class="tab-content">
        <div class="tab-pane active" id="activeTab" role="tabpanel" aria-labelledby="active-allocations-tab">
          <div class="table-responsive">
            <table id="activeAllocationsTable" class="table small w-100">
            <thead class="table-light">
            <tr class="text-secondary">
              <th class="py-3 px-6">Cluster</th>
              <th class="py-3 px-6">Award Date</th>
              <th class="py-3 px-6">Expiration Date</th>
              <th class="py-3 px-6">Used</th>
              <th class="py-3 px-6">Awarded</th>
              <th class="py-3 px-6">Total Usage</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
          </div>
        </div>
        <div class="tab-pane" id="expiredTab" role="tabpanel" aria-labelledby="expired-allocations-tab">
          <div class="table-responsive">
            <table id="expiredAllocationsTable" class="table small w-100">
            <thead class="table-light">
            <tr class="text-secondary">
              <th class="py-3 px-6">Cluster</th>
              <th class="py-3 px-6">Award Date</th>
              <th class="py-3 px-6">Expiration Date</th>
              <th class="py-3 px-6">Used</th>
              <th class="py-3 px-6">Awarded</th>
              <th class="py-3 px-6">Total Usage</th>
            </tr>
            </thead>
            <tbody></tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script>

    function updateTotalUsage(totalServiceUnits, usedServiceUnits) {
        const $totalServiceUnits = $('#totalServiceUnits');
        const $usedServiceUnits = $('#usedServiceUnits');
        const $usageProgressBar = $('#usageProgressBar');
        const $percentUsageBadge = $("#percentUsageBadge");
        const usagePercentage = Math.round((usedServiceUnits / totalServiceUnits) * 100);
        const usagePercentageClamped = Math.min(usagePercentage, 100);

        // Update the total service units display
        $usedServiceUnits.text(usedServiceUnits.toLocaleString());
        $totalServiceUnits.text(`/ ${totalServiceUnits.toLocaleString()} SUs`);

        // Update progress bar
        $usageProgressBar.width(`${usagePercentageClamped}%`);

        // Update the usage badge and apply appropriate styling
        $percentUsageBadge.text(`${usagePercentage}%`);
        if (usagePercentage < 75) {
            $percentUsageBadge.addClass('bg-primary');
            $usageProgressBar.addClass('bg-primary');
        } else if (usagePercentage < 90) {
            $percentUsageBadge.addClass('bg-warning');
            $usageProgressBar.addClass('bg-warning');
            $usedServiceUnits.addClass('text-warning');
        } else {
            $percentUsageBadge.addClass('bg-danger');
            $usageProgressBar.addClass('bg-danger');
            $usedServiceUnits.addClass('text-danger');
        }
    }

    $(document).ready(function () {
        $.ajax({
            url: "/alloc/api/allocations/",
        }).done(function (data) {

            // Calculate the total allocated service units
            let totalServiceUnits = data.reduce(function (s, a) {
                return s + a.sus;
            }, 0);

            updateTotalUsage(totalServiceUnits, 10000);
            $('#activeAllocationsTable').DataTable({
                'dom': 't',
                "language": {
                    "emptyTable": "No allocations were found for your account."
                },
                "data": data,
                'columns': [
                    {
                        'data': 'cluster'
                    }, {
                        'data': 'start',
                        'defaultContent': '--'
                    }, {
                        'data': 'expire',
                        'defaultContent': '--'
                    }, {
                        'defaultContent': '--'
                    }, {
                        'data': 'sus',
                    }, {
                        'defaultContent':
                            '<span class="d-block mb-1 text-primary">65%</span>' +
                            '  <div class="d-inline-flex align-items-center">' +
                            '  <div class="position-relative pt-1 me-12 bg-secondary-light rounded" style="min-width: 200px;">' +
                            '    <div class="position-absolute top-0 start-0 h-100 col-4 bg-primary rounded">' +
                            '  </div>' +
                            '</div>'
                    }
                ],
            });
        });

        $('#expiredAllocationsTable').DataTable({
            'dom': 't',
            "language": {
                "emptyTable": "No allocations were found for your account."
            }
        })
    });
</script>
{% endblock %}
