{% extends 'common/base.html' %}
{% load static %}

{% block page_title %}SU Allocation{% endblock %}
{% block header_title %}Service Unit Allocations{% endblock %}
{% block header_description %}Total service units allocated to your team across all clusters.{% endblock %}

{% block main_content %}

<section>
  <div class="container">
    <div class="p-6 mb-10 bg-white rounded shadow">
      <h4 class="mb-6">Total Allocation Usage</h4>
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <p id="usedServiceUnits" class="h2 d-inline"></p>
          <p class="h5 d-inline text-muted">/ <span id="totalServiceUnits"></span> SUs</p>
        </div>
        <span id="percentUsageBadge" class="badge"></span>
      </div>
      <div class="mt-2 progress bg-light-light rounded">
        <div id="usageProgressBar" class="progress-bar rounded"></div>
      </div>
      <p class="mt-3 mb-0 text-secondary small">Total allocation usage is calculated for all active allocations.</p>
    </div>
  </div>
</section>

<section class="my-5">
  <div class="container">
    <div class="bg-white rounded shadow">
      <div class="px-6 pt-6 border-bottom border-secondary-light">
        <div class="d-flex mb-6 align-items-center justify-content-between">
          <h4 class="mb-0">Cluster Allocations</h4>
          <a class="btn btn-sm btn-primary d-inline-flex align-items-center" href="#">
                <span class="text-primary-light me-2">
                  <svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 8.33337C12.6 8.33337 12.3333 8.60004 12.3333 9.00004V11.6667C12.3333 12.0667 12.0666 12.3334 11.6666 12.3334H2.33331C1.93331 12.3334 1.66665 12.0667 1.66665 11.6667V9.00004C1.66665 8.60004 1.39998 8.33337 0.99998 8.33337C0.59998 8.33337 0.333313 8.60004 0.333313 9.00004V11.6667C0.333313 12.8 1.19998 13.6667 2.33331 13.6667H11.6666C12.8 13.6667 13.6666 12.8 13.6666 11.6667V9.00004C13.6666 8.60004 13.4 8.33337 13 8.33337ZM4.79998 4.13337L6.33331 2.60004V9.00004C6.33331 9.40004 6.59998 9.66671 6.99998 9.66671C7.39998 9.66671 7.66665 9.40004 7.66665 9.00004V2.60004L9.19998 4.13337C9.46665 4.40004 9.86665 4.40004 10.1333 4.13337C10.4 3.86671 10.4 3.46671 10.1333 3.20004L7.46665 0.533374C7.19998 0.266707 6.79998 0.266707 6.53331 0.533374L3.86665 3.20004C3.59998 3.46671 3.59998 3.86671 3.86665 4.13337C4.13331 4.40004 4.53331 4.40004 4.79998 4.13337Z"
                                                                                                                       fill="currentColor"></path></svg></span>
            <span>Export</span>
          </a>
        </div>
        <div>
          <a class="link-primary small px-3 pb-2 text-decoration-none border-bottom border-2 border-primary" href="#">Active</a>
          <a class="link-primary small px-3 pb-2 text-decoration-none d-inline-block text-secondary" href="#">Expired</a>
        </div>
      </div>
      <div class="pt-4 table-responsive">
        <table class="table mb-0 bg-white border-light small">
          <thead class="table-light">
          <tr class="text-secondary">
            <th class="py-3 px-6">Cluster</th>
            <th class="py-3 px-6">Award Date</th>
            <th class="py-3 px-6">Expiration Date</th>
            <th class="py-3 px-6">Used</th>
            <th class="py-3 px-6">Awarded</th>
            <th class="py-3 px-6">Progress</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="py-4 px-6">SMP</td>
            <td class="py-4 px-6">start</td>
            <td class="py-4 px-6">End</td>
            <td class="py-4 px-6">xxx</td>
            <td class="py-4 px-6">yyy</td>
            <td class="py-4 px-6">
              <span class="d-block mb-1 text-primary">65%</span>
              <div class="d-inline-flex align-items-center">
                <div class="position-relative pt-1 me-12 bg-secondary-light rounded" style="min-width: 200px;">
                  <div class="position-absolute top-0 start-0 h-100 col-4 bg-primary rounded"></div>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascript %}
<script>
    $(document).ready(function () {
        const totalServiceUnits = 125000;
        const usedServiceUnits = 10000;

        const $totalServiceUnits = $('#totalServiceUnits');
        const $usedServiceUnits = $('#usedServiceUnits');
        const $usageProgressBar = $('#usageProgressBar');
        const $percentUsageBadge = $("#percentUsageBadge");
        const usagePercentage = Math.round((usedServiceUnits / totalServiceUnits) * 100);
        const usagePercentageClamped = Math.min(usagePercentage, 100);

        // Update the total service units display
        $totalServiceUnits.text(totalServiceUnits.toLocaleString());
        $usedServiceUnits.text(usedServiceUnits.toLocaleString());

        // Update progress bar
        $usageProgressBar.width(`${usagePercentageClamped}%`);

        // Update the usage badge and apply appropriate styling
        $percentUsageBadge.text(`${usagePercentage}%`);
        if (usagePercentage < 75) {
            $percentUsageBadge.addClass('bg-primary');
            $usageProgressBar.addClass('bg-primary');
        } else if (usagePercentage < 90) {
            $percentUsageBadge.addClass('bg-warning');
            $usageProgressBar.addClass('bg-warning');
            $usedServiceUnits.addClass('text-warning');
        } else {
            $percentUsageBadge.addClass('bg-danger');
            $usageProgressBar.addClass('bg-danger');
            $usedServiceUnits.addClass('text-danger');
        }
    });
</script>
{% endblock %}
